/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 18px;
  top: 10px;
  left: 4px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #000;
  box-shadow: 0 0 2px rgba(200, 200, 200, 0.75);
  border-radius: 6px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 1em 0;
}

a.bm-item, a.bm-item:link, a.bm-item:hover {
  text-decoration: none;
  color: #fff;
}

a.bm-item:hover {
  color: #efefef;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}